<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout 
		layout:decorator="template"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
	<head>
		<meta charset="UTF-8"/>
		<title>Rénitialisation du mot de passe</title>
	</head>
	
	<body>

		<div layout:fragment="content">
			
			<header>
				<div class="navbar navbar-inverse">
					<div class="container-fluid">
						<div sec:authorize="isAuthenticated()">
							<ul class="nav navbar-nav">
								<li><a th:href="@{/home}"><i class="fa fa-home fa-1x"></i>&nbsp;Accueil</a></li>
								<li><a th:href="@{/groupes}"><i class="fa fa-users fa-1x"></i>&nbsp;Groupes</a></li>
								<li><a th:href="@{/apropos}"><i class="fa fa-comment-dots fa-1x"></i>&nbsp;À propos</a></li>
								<li><a th:href="@{'/affichePersonne?idPersonne=' + ${session.MY_SESSION_PERSONNE.getId()}}"><i class="fa fa-user-circle fa-1x"></i>&nbsp;Profile</a></li>
							</ul>
						</div>
						<div sec:authorize="isAnonymous()">
							<ul class="nav navbar-nav">
								<li><a th:href="@{/home}"><i class="fa fa-home fa-1x"></i>&nbsp;Accueil</a></li>
								<li><a th:href="@{/groupes}"><i class="fa fa-users fa-1x"></i>&nbsp;Groupes</a></li>
								<li><a th:href="@{/apropos}"><i class="fa fa-comment-dots fa-1x"></i>&nbsp;À propos</a></li>
								<li><a th:href="@{/login}"><i class="fa fa-user-circle fa-1x"></i>&nbsp;Profile</a></li>
							</ul>
						</div>
						<div sec:authorize="isAuthenticated()">
							<ul class="nav navbar-nav navbar-right">
								<li><a th:href="@{/logout}"><i class="fa fa-sign-out-alt fa-1x"></i>&nbsp;Déconnecter</a></li>
							</ul>
						</div>
						<div sec:authorize="isAnonymous()">
							<ul class="nav navbar-nav navbar-right">
								<li><a th:href="@{/login}"><i class="fa fa-sign-in-alt fa-1x"></i>&nbsp;Se connecter</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			
		    <h1>Rénitialisation du mot de passe</h1>
		 
		    <label>email</label>
		    <input id="email" name="email" type="email" value="" />
		    <button type="submit" onclick="resetPass()">Rénitialiser</button>
		 
			<a th:href="@{/registration.html}">registration</a>
			<a th:href="@{/login}">login</a>
			 
			<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" ></script>
			
			<script th:inline="javascript">
				var serverContext = "/"; /*[[@{/}]];*/
				function resetPass() {
				    var email = $("#email").val();
				    $.post(serverContext + "/resetPassword",{email: email} ,
				      function(data){
				          window.location.href = 
				           serverContext + "login?message=" + data.message;
				    })
				    .fail(function(data) {
				        if(data.responseJSON.error.indexOf("MailError") > -1)
				        {
				            window.location.href = serverContext + "emailError.html";
				        }
				        else{
				            window.location.href = 
				              serverContext + "login?message=" + data.responseJSON.message;
				        }
				    });
				}
			</script>
			
		</div>
		
	</body>
	
</html>